<h1> wrrrtika co.'s old timey products and shit. </h1>
<i> buy some stuff, you know you want to </i>


<% @products.each do |product| %>
	
	<p><%= link_to product.name, product_path(product) %></p>
	<p>Price: $ <%= product.formatted_price %></p>



<% end %>